:root {
    --roundness: 8px;
    --cornflower-blue: #588ae1;
    --cornflower-light: #a0c1fb;
    --deep-blue: #375ba4;
    --deeper-blue: #2d4f93;
    --ds-text: #515357;
    --light-gray: #e6eaee;
    --gray-text: #70767a;
    --gray-tint: #afafaf89;
    --shadow-blue: #13276966;
    --shadow-blue-opaque: #a1a9c3;
    --x-red: #c66363;
    --x-red-dark: #ac5252;
}


/* #region =================================================================
                HEADER
   ========================================================================= */

    header {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        
        #logo > img {
            height: 90px;
        }

        #global-settings {
            width: 220px;
            height: 60px;
            display: grid;
            gap: 2px;

            text-align: right;
            grid-template-columns: 50% 50%;
            grid-template-rows: 40% 60%;
        }

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        #allow-smfa-label {
            border: none;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-bottom: 5px;

            img {
                margin: 1px 4px;
                display: inline-block;
                height: calc(1em - 2px);
            }
        }

        #import-req-label, #export-req-label {
            border: 1px solid var(--shadow-blue-opaque);
            border-radius: var(--roundness);
            font-weight: 500;

            img {
                margin: 0px 0px 0px 5px;
                height: calc(1em + 1px);
            }
        }

        #import-req-label:hover, #export-req-label:hover {
            background-color: var(--light-gray);
        }

        input[type="file"], input[type="button"] {
            display: none;
        }
    }

/* #endregion ============================================================== */