:root {
    --roundness: 8px;
    --cornflower-blue: #588ae1;
    --cornflower-light: #a0c1fb;
    --deep-blue: #375ba4;
    --deeper-blue: #2d4f93;
    --ds-text: #515357;
    --light-gray: #e6eaee;
    --gray-text: #70767a;
    --gray-tint: #afafaf89;
    --shadow-blue: #13276966;
    --shadow-blue-opaque: #a1a9c3;
}

@font-face {
    font-family: "noto-sans";
    src: url("/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "noto-sans", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

button {
    all: unset;
}

body {
    padding: 10px 15px;
    overflow: hidden;
}

b {
    font-weight: 550;
}

.ui-tooltip {
    border: 0;
    margin-top: -10px;
}

.hasshadow, .ui-tooltip {
    box-shadow: var(--shadow-blue) 2px 2px 4px, var(--shadow-blue) 0px 0px 3px !important;
}

.iswindow {
    box-shadow: var(--shadow-blue) 0px 0px 2px, var(--shadow-blue) 0px 0px 5px, var(--shadow-blue) 5px 5px 15px !important;
}

.horiz-rule {
    background-color: var(--light-gray);
    width: 100%;
    height: 1px;
    margin: 10px 0px;
}

.hl-green {
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #09ff002a;
}

.hl-orange {
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #ff6a002a;
}


/* #region =================================================================
                HEADER
   ========================================================================= */

    header {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        
        #logo > img {
            height: 90px;
        }

        #global-settings {
            width: 220px;
            height: 60px;
            display: grid;
            gap: 2px;

            text-align: right;
            grid-template-columns: 50% 50%;
            grid-template-rows: 40% 60%;
        }

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        #allow-smfa-label {
            border: none;
            grid-column-start: 1;
            grid-column-end: 3;
            margin-bottom: 5px;

            img {
                margin: 1px 4px;
                display: inline-block;
                height: calc(1em - 2px);
            }
        }

        #import-req-label, #export-req-label {
            border: 1px solid var(--shadow-blue-opaque);
            border-radius: var(--roundness);
            font-weight: 500;

            img {
                margin: 0px 0px 0px 5px;
                height: calc(1em + 1px);
            }
        }

        #import-req-label:hover, #export-req-label:hover {
            background-color: var(--light-gray);
        }

        input[type="file"], input[type="button"] {
            display: none;
        }
    }

/* #endregion ============================================================== */


/* #region =================================================================
                SIDEBAR BUTTONS (INCLUDES CLASS FINDER)
   ========================================================================= */

    #side-btns-container {
        width: 80px;

        display: flex;
        flex-direction: column;
        gap: 8px;

        position: fixed;
        z-index: 10;
        right: 0;
        top: 200px;
    }

    /* General buttons ----------------------------------------------------- */

    .side-btn {
        cursor: default;
        overflow: hidden;
        position: relative;
        border-top-left-radius: var(--roundness);
        border-bottom-left-radius: var(--roundness);
    }

    #class-finder-btn {
        width: 80px;
        height: 100px;

        color: white;
        user-select: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--cornflower-blue);

        img {
            position: absolute;
            bottom: 8px;
            left: -1px;
            height: 120px;
        }
        p {
            position: absolute;
            left: 5px;
            bottom: 5px;
            font-weight: 600;
        }
    }

    #class-finder-btn:hover {
        filter: brightness(0.9);
    }

    #help-btn {
        height: 35px;
        color: var(--gray-text);
        background-color: white;

        img {
            position: absolute;
            height: 55px;
            top: 0px;
            left: 5px;
        }
        p {
            position: absolute;
            top: 7px;
            right: 9px;
            font-weight: 600;
        }
    }

    #help-btn:hover {
        filter: brightness(0.9);
    }

    #settings-btn {
        height: 35px;
        color: white;
        background-color: var(--gray-text);

        img {
            position: absolute;
            top: 0px;
            left: -5px;
            height: 65px;
        }
        p {
            position: absolute;
            top: 7px;
            right: 9px;
            font-weight: 600;
        }
    }

    #settings-btn:hover {
        filter: brightness(0.9);
    }


    /* Class finder window ------------------------------------------------- */

    #cf-subject-menu, #cf-attributes-menu {
        height: 300px !important;
        overflow-y: scroll !important;
    }

    #class-finder-window-wrapper {
        pointer-events: none; /* click through div */

        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #class-finder-window {
        pointer-events: all; /* but make child clickable */

        position: fixed;
        z-index: 10;
        width: 100%;
        max-width: 700px;
        height: 100%;
        max-height: 450px;
        background-color: var(--cornflower-blue);
        border-radius: var(--roundness);
        color: white;

        display: flex;
        flex-direction: column;

        #class-finder-topbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 30px 12px;

            #class-finder-header {
                display: flex;
                gap: 20px;
                
                img {
                    height: 40px;
                }
                h2 {
                    font-size: 30px;
                }
            }

            #class-finder-close {
                height: 22px;
                margin-right: 10px;
                img {
                    height: 100%;
                }
            }

            #class-finder-close:hover > img {
                cursor: pointer;
                filter: brightness(75%);
            }
        }

        #class-finder {
            overflow: hidden;
            width: 100%;
            height: 100%;
            padding: 10px 30px 30px;

            #class-finder-search-container {
                background-color: var(--light-gray);
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 40% 60%;
                gap: 1px;

                #class-finder-search {
                    background-color: var(--cornflower-blue);
                    padding: 0px 20px 0px 2px;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: 500;
                    }

                    input, .ui-selectmenu-button {
                        font-size: unset;
                        background-color: white;
                        width: 100%;
                        height: 28px;
                        border: solid 1px var(--deep-blue);
                        border-radius: var(--roundness);
                        margin: 5px 0px 5px;
                        padding: 1px 5px;
                    }

                    input[type="submit"] {
                        height: 35px;
                        margin-top: 30px;
                        font-weight: 500;
                        background-color: var(--deep-blue);
                        color: white;
                    }

                    input[type="submit"]:hover {
                        cursor: pointer;
                        background-color: var(--deeper-blue);
                    }

                    input::placeholder { /* This is for text input with placholders */
                        color: var(--shadow-blue);
                    }

                    input.placeholder {  /* This is for dropdowns with "placeholders"; class assigned in js */
                        color: var(--shadow-blue);
                    }
                }

                #class-finder-results {
                    background-color: var(--cornflower-blue);
                    padding: 0px 2px 0px 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    #cf-results-list {
                        height: 290px;
                        overflow-x: hidden;
                        overflow-y: scroll;
                        border-radius: var(--roundness);

                        .cf-result {
                            height: 85px;
                            padding: 5px 10px 8px;
                            margin-bottom: 5px;
                            white-space: nowrap;
                            border: solid 1px var(--deep-blue);
                            border-radius: var(--roundness);
                            background-color: white;
                            color: black;

                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            overflow: hidden;

                            p {
                                height: 43px;
                                width: 100%;
                                text-wrap: wrap;
                                word-break: break-word;
                                display: -webkit-box;
                                line-clamp: 2;
                                -webkit-line-clamp: 2;
                                box-orient: vertical;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                            }

                            .class-data {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }
    }

/* #endregion ============================================================== */




main {
    width: 100%;
    padding: 10px 30px 10px 3px;
    min-height: 100px;
    margin-top: 20px;
    font-variant-emoji: text;
}




/* #region =================================================================
                MAJOR/MINOR TABS
   ========================================================================= */

    #tab-bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 3px;

        height: 40px;
        color: white;

        .tab {
            display: flex;
            flex-direction: row;
            align-items: center;

            padding: 10px 10px 10px 15px;
            height: 100%;
            max-width: 300px;

            background-color: var(--light-gray);
            color: var(--gray-text);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            cursor: default;

            p {
                width: 100%;
                text-wrap: pretty;
                word-break: break-all;
                display: -webkit-box;
                line-clamp: 1;
                -webkit-line-clamp: 1;
                box-orient: vertical;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .close-tab-btn {
                user-select: none;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                align-items: center;
                width: 24px;
                border-radius: 12px;
                margin-left: 5px;
            }

            .close-tab-btn:hover {
                background-color: var(--gray-tint);
            }
        }

        .tab-selected {
            background-color: var(--cornflower-blue);
            color: white;

            .close-tab-btn:hover {
                background-color: var(--shadow-blue);
            }
        }

        #new-tab-btn {
            display: flex;
            flex-direction: column;
            align-items: center;

            flex-shrink: 0;
            height: 25px;
            width: 25px;
            margin-left: 5px;

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            background-color: var(--light-gray);
            color: var(--gray-text);

            user-select: none;
            cursor: default;

            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 20px;
                border-radius: 12px;
            }
        }

        #new-tab-btn:hover {
            span {
                background-color: var(--gray-tint);
            }
        }
    }

/* #endregion ============================================================== */




/* #region =================================================================
                ACTUAL DEGREE SHEET
   ========================================================================= */

    #degree-sheet {
        color: var(--ds-text);

        min-height: 100px;
        width: 100%;
        background-color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

        padding: 20px 15px 25px;

        #ds-major-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            h2 {
                flex-shrink: 0;
                color: var(--text);
                font-weight: 700;
                font-size: x-large;
            }

            button {
                height: 25px;

                img {
                    height: 100%;
                }
            }
        }
    }

    .ds-collapse-btn img {
        transition: transform 0.2s ease;
    }

    .ds-collapse-btn, .ds-rename-btn {
        border-radius: 16px;
        margin-right: -5px;
    }

    .ds-collapse-btn:hover, .ds-rename-btn:hover {
        background-color: var(--light-gray);
    }

    #ds-items-container {
        margin-top: 15px;
        padding: 0px 45px 0px 5px;
        overflow: hidden;
        transition: max-height 0.2s ease;

        .ds-item {
            display: flex;
            flex-direction: row;
            align-items: center;

            .ds-item-marker {
                user-select: none;
                height: 22px;
                width: auto;
                margin-right: 5px;
                padding-top: 5px;
            }

            .ds-item-box {
                height: 30px;
                margin-top: 5px;
                border: solid 1px var(--shadow-blue-opaque);
                border-radius: 8px;
                overflow: hidden;

                display: flex;
                flex-direction: row;
                flex-grow: 1;

                input {
                    all: unset;
                    flex-grow: 1;
                    padding: 5px;
                    display: flex;
                    border: solid 1px #0000;
                    border-top-left-radius: 7px;
                    border-bottom-left-radius: 7px;
                }
                
                input:focus {
                    border-color: var(--cornflower-blue);
                }

                .ds-item-dup {
                    height: 100%;
                    width: 50px;
                    border: solid 0px var(--shadow-blue-opaque);
                    border-left-width: 1px;
                    flex-shrink: 0;
                }

                .ds-item-dup:hover {
                    background-color: var(--light-gray);
                }

                .ds-item-move {
                    height: 100%;
                    width: 60px;
                    background-color: var(--shadow-blue-opaque);
                    flex-shrink: 0;
                }

                .ds-item-delete {
                    flex-shrink: 0;
                }
            }
        }
    }

    #ds-new-btns-container {
        padding: 0px 25px;
        margin-top: 20px;

        button {
            font-weight: 600;
            border: solid 1px var(--ds-text);
            border-radius: 8px;
            padding: 0px 8px;

            cursor: default;

            span {
                font-size: smaller;
                margin-right: 2px;
                user-select: none;
            }
        }

        button:hover {
            background-color: var(--light-gray);
        }
    }

/* #endregion ============================================================== */