table, th, td {
    border:1px solid black;
}

.credit_count {
    text-align: center;
    vertical-align: middle;
}


.multi-selections {
    padding-left: 2%
}

table {
    width: 100%;
}

th {
    width: 50%;
}