table, th, td {
    border:1px solid black;
}

.credit_count {
    text-align: center;
    vertical-align: middle;
}


.multi-selections {
    padding-left: 4%
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    width: 50%;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-family: "drawing-set", "arial";
}

p {
    font-family: "drawing-set", "arial";
}


/* ==============================  Fonts  ==================================*/

@font-face {
	font-family: "drawing-set";
	src: url("./fonts/DrawingSet.otf");
}

/* ===========================  Requirements tab  ==========================*/


/* Style the tab */
#requirements {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
/* Style the buttons that are used to open the tab content */
#requirements button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.requirements-help-text, .multi-requirements-help-text {
    padding: 2px;
}
  
#requirements button:hover {
    background-color: #ddd;
}

#requirements button.active {
    background-color: #ccc;
}

#requirements #new-requirement {
    background-color: #3172AE;
    color: #fff;
}

#requirements #new-requirement:hover {
    background-color: #73b0ea;
    color: #fff;
}

.requirements-tab {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.dropdown-separator {
    border-collapse: separate;
    padding: 2px;
}

.multi-dropdown-separator {
    border-color: white;
}

.multi-select-wrapper {
    border-radius: 10px;
    border-collapse: separate;
    box-shadow: 2px 2px 7px #7687a6;
    padding: 5px;
    margin: 10px 0px 5px 0px;
}

table {
    border-width: 0px;
}

tr {
    border-width: 0.5px;
    border-color: #000;
}

#Major-requirements {
    box-shadow: 2px 2px 7px #7687a6;
    border-radius: 10px;
    padding: 10px;
}

.error-box {
    background-color: #f7f5f5;
    border-color: red;
    box-shadow: 2px 2px 7px #a67676;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
}

td {
    padding: 8px;
    border-width: 0px;
    border-color: #000;
}



/* =============================  schedule  =============================== */

#schedule-tables {
    margin-left: 10px;
    margin-right: 10px;
}

#select {
    width: 100%;
}

#multi-select {
    width: 100%;
}